 <footer>
    <ul class="footer-container">
        <li class="rect6"></li>
        <h2 class="copyright">
            Copyright &copy; 2016
        </h2>
        <li class="rect7"></li>
    </ul>
</footer>