<header>
    <nav>
        <div class="sidebar-list">
            <div class="sidebar-item-home"><a href="/" title="Home">Home</a></div>
            <div class="sidebar-item-create"><a href="/create" title="Create Marathon">Create Marathon</a></div>
            <div class="sidebar-item-view"><a href="view" title="View Marathon">View Marathon</a></div>
            <div class="sidebar-item-about"><a href="/about" title="About">About</a></div>
            <div class="rect5"></div>
        </div>
    </nav>
</header>