{{> header}}

<main>
    <section class="info-area">
        <h1>About the Star Trek Marathon Planner</h1>
        <div class="info-body">
            <p> This is our final project for Oregon State University's CS290 course. </p>
           
        </div>
    </section>
</main>

{{> footer}}