{{> header}}

<main>
    <section class="info-area">
        <h1>About the Star Trek Marathon Planner</h1>
        <div class="info-body">
            <p>About us here.</p>
            <p> </p>
            <p> </p>
            <p> </p>
            <p> </p>
        </div>
    </section>
</main>

{{> footer}}