{{>header}}

<main>
    <section class="info-area">
        <h1>Select the following options to make your marathon.</h1>
        <div class="info-body">
            <h3>Select a series:</h3>
            <select id="series-select">
                <option value disable selected>Series</option>
            	<option value="DS9">Deep Space 9</option>
		<option value="TNG">The Next Generation</option>
	    </select>
            <h3>Select a character:</h3>
            <select id="char-select">
                <option value disable selected>Character</option>   
                {{#each chars}}
			      <option>{{name}}</option>
			    {{/each}}
	 
            </select>
            <h3>Select a plot type:</h3>
            <select id="plot-select">
                <option value disable selected>Plot</option> 
                {{#each plot}}
			      <option>{{type}}</option>
			    {{/each}}   
            </select>
        </div>
        <button type="button">Make Marathon</button> 
    </section>
</main>

{{>footer}}
