{{> header}}

<main>
    <section class="info-area">
        <h1>Greetings fellow Trekkies!</h1>
        <div class="info-body">
            <p>Are you in need of a Star trek fix!?! Well, you have come to the right place!</p>
            <p>You can create a marathon based on plot type, character, and series.</p>
            <p>Currently only season one of Deep Space 9 and The Next Generation are available.</p>
            <p>Select Create Marathon to get started.</p>
            <p>Live long and prosper.</p>
        </div>  
    </section>
</main>

{{> footer}}