{{> header}}

<main>
    <section class="info-area">
        <h1>To boldly go.</h1>
        <div class="info-body">
<<<<<<< HEAD
            <p>
			<table>
				<tr>
					<th> Episode </th>
					<th> Title </th>
					<th> Length </th>
				</tr>
				<tr>
				 {{#each episode}}
					  <td>{{episode}}</td>
					{{/each}}

				 {{#each ep_title}}
					  <td>{{ep_title}}</td>
					{{/each}}

				 {{#each len}}
					  <td>{{len}}</td>
					{{/each}}
					</tr>
			</table>
		</p>
=======
            <p>Current Marathon Here</p>
            
            
>>>>>>> 8ebe23412a38a5786534b151ab178df22ad6ad1c
        </div>
    </section>
</main>

{{> footer}}
