{{> header}}

<main>
    <section class="info-area">
        <h1>To boldly go.</h1>
        <div class="info-body">
            <p>Current Marathon Here</p>
            <?php
            ?query = "SELECT DISTINCT Season_and_Episode, Episode_title, Length
                    FROM Episode
                    WHERE Season_and_Episode LIKE 'DS9%'
                    ORDER BY E.Airdate, E.Season_and_Episode";

            echo $query

            ?>
        </div>
    </section>
</main>

{{> footer}}