{{> header}}

<main>
    <section class="info-area">
        <h1>To boldly go.</h1>
        <div class="info-body">
            <p>
			<table style="float: left">
				<th>
					<tr><td> Episode </td></tr>
				</th>
				 {{#each episode}}
					  <tr><td>{{episode}}</td></tr>
					{{/each}}

			</table>
			
			<table style="float: left">
				<th>
					<tr><td> Title </td></tr>
				</th>
				 {{#each ep_title}}
					<tr><td> {{ep_title}}</td></tr>
					{{/each}}

			</table>
			
			<table style="float: left">
				<th>
					<tr><td> Length </td></tr>
				</th>
				 {{#each len}}
					 <tr><td> {{len}}</td></tr>
					{{/each}}
			</table>
		</p>
            
            
        </div>
    </section>
</main>

{{> footer}}
