{{> header}}

<main>
    <section class="info-area">
        <h1>To boldly go.</h1>
        <div class="info-body">
            <p>Current Marathon Here</p>
            
            
        </div>
    </section>
</main>

{{> footer}}
